version: "{branch} {build}"
skip_tags: true
clone_depth: 10

environment:
  matrix:
  - JAVA_HOME: C:\Program Files\Java\jdk1.7.0
  - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
  - JAVA_HOME: C:\Program Files (x86)\Java\jdk1.7.0
  - JAVA_HOME: C:\Program Files (x86)\Java\jdk1.8.0

build:
  verbosity: detailed

install:
  - choco install ant
  - refreshenv
 
build_script:
  - ant ivy-bootstrap
  - ant compile



matrix:
  fast_finish: true
