version: "{branch} {build}"
skip_tags: true
clone_depth: 10

build:
  verbosity: detailed

build_script:
  - curl.exe -o C:\ant.zip http://mirror.fibergrid.in/apache//ant/binaries/apache-ant-1.10.1-bin.zip
  - unzip.exe C:\ant.zip
  - dir C:\
  - set PATH=%PATH%;C:\apache-ant-1.10.1\bin
  - set ANT_HOME=C:\apache-ant-1.10.1\
  - ant ivy-bootstrap
  - ant jar

environment:
  matrix:
  - JAVA_HOME: C:\Program Files\Java\jdk1.7.0
  - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
  - JAVA_HOME: C:\Program Files (x86)\Java\jdk1.7.0
  - JAVA_HOME: C:\Program Files (x86)\Java\jdk1.8.0

matrix:
  fast_finish: true
